body {
   background-color: black; 
   color: gray;
   font-family:'Inconsolata', monospace;
}

div.main {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

div.main input {

}

div.sidebar {
    color: darkseagreen;
    font-size: large;
}

span.emp {
    color: slateblue;
}

button.blast {
    margin: 20px 20px 20px 20px;
}

iframe.view {
    overflow: hidden;
    overflow-y: scroll;
    display: block;
    margin: 0 auto;
}

div#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;

    background-color: #202020;
}

div#footer p {
    color: #FFFFFFFF;

    padding-left: 10px;
}
